body {
    background:#F2C0B5
}

#banner {
    width: 100%;
}

p {
    text-align: center;
}

 em strong {
    color: red;
}

<img id="banner" src="banner.jpg">

<p id="missao"><em>Nossa missão é: <strong>"Proporcionar auto-estima e qualidade de vida aos clientes"</strong>.</em></p>