body {
    background:#F2C0B5
}

h1 {
    font-size: 60px; 
    text-align: center;
}

#banner {
    width: 100%;
}

p {
    text-align: center;
}

#missao{
    font-size: 20px;
}


 em strong {
    color: red;
}

ul {
    <li>
}

